@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "public-sans";
  src: url("/fonts/PublicSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "public-sans";
  src: url("/fonts/PublicSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "public-sans";
  src: url("/fonts/PublicSans-Bold.ttf");
  font-weight: 700;
}

@layer base {
  body {
    @apply text-lg bg-white overflow-x-hidden;
  }
}

.h-screen-min-16 {
  height: calc(100vh - 64px);
}
