@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "public-sans", sans-serif;
  src: url("/fonts/PublicSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "public-sans", sans-serif;
  src: url("/fonts/PublicSans-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "public-sans", sans-serif;
  src: url("/fonts/PublicSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@layer base {
  body {
    @apply overflow-x-hidden;
  }
}

.bg-intro {
  --height: 20rem;
  --size: 95%;
  --bg-intro: url(/images/bg-intro-mobile.svg);
  position: relative;
  background-image: var(--bg-intro);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: var(--height);
}

.bg-intro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/images/mockups.webp);
  background-size: var(--size);
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (min-width: 420px) {
  .bg-intro {
    --height: 25rem;
  }
}

@media (min-width: 500px) {
  .bg-intro {
    --size: 70%;
  }
}

@media (min-width: 700px) {
  .bg-intro {
    --size: 50%;
  }
}

@media (min-width: 1024px) {
  .bg-intro {
    --height: 41rem;
    background-image: none;
  }

  .bg-intro::before {
    --bg-intro: url("/images/bg-intro-desktop.svg");
    content: "";
    position: absolute;
    width: 150%;
    height: 100%;
    background-image: var(--bg-intro);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 122%;
    background-position: left 60%;
  }

  .bg-intro::after {
    width: 110%;
    height: 122%;
    background-size: 94%;
    background-position: center 80%;
    left: 20%;
  }
}

.h-screen-min-16 {
  height: calc(100vh - 64px);
}
